{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Balance</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-block">
                <h4 class="card-title">Balance</h4>
                <p class="card-text">You have <b>€ 20</b> remaining.</p>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Top-ups</h2>
            <p>
                Top up your money'z by contacting one of your company's account administrators:
            </p>

            <ul>
                <li>dries.depeuter@nousefreak.be</li>
            </ul>
        </div>
    </div>
{% endblock %}
