{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="http://lorempixel.com/400/200/business/" alt="Card image">
        </div>

        <div class="col-md-6">
            <h1>Company</h1>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="btn btn-primary-outline pull-right" href="#" role="button">Edit</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Shops enabled</h2>
            <ul class="list-group">
                {% for i in range(0,2) %}
                    <li class="list-group-item">
                        <ul class="list-inline pull-right">
                            <li><a href="#"><span class="label label-default label-pill">settings</span></a></li>
                            <li><a href="#"><span class="label label-default label-pill">disable</span></a></li>
                        </ul>
                        Morbi leo risus
                    </li>
                {% endfor %}
            </ul>

            <h2>Shops available</h2>
            <ul class="list-group">
                {% for i in range(0,12) %}
                    <li class="list-group-item">
                        <ul class="list-inline pull-right">
                            <li><a href="#"><span class="label label-default label-pill">enable</span></a></li>
                        </ul>
                        Morbi leo risus
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
