<p>
    Dear {{ user.username }},
</p>
<p>
    Your account has been created. Please enable your account by following the next link:
</p>
<p>
    <a href="{{ url("activate", {"hash": hash, "user": user.id}) }}">{{ url("activate", {"hash": hash, "user": user.id}) }}</a>
</p>
